nav {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--theme-purple);
  color: var(--secondary-color);

  .add_note {
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      fill: var(--theme-purple);
    }
  }
}

nav div {
  display: flex;
  align-items: center;
  font-family: cursive;
  gap: 10px;
}

nav svg {
  width: 50px;
  height: 50px;
}

.logout {
  width: 150px;
  height: 50px;
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--theme-red);
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 1em;
  }

  nav div {
    gap: 5px;
  }

  .logout {
    max-width: 200px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  nav div {
    font-size: 14px;
  }

  nav svg {
    width: 30px;
    height: 30px;
  }

  nav span {
    font-size: 12px;
  }
}
